<div class="flex justify-center items-center min-h-60">
    <div [hidden]="messageType === 'success'">
    <input type="password" id="newPassword" placeholder="Nouveau mot de passe" class="border border-gray-300 px-4 py-2 rounded-lg mt-2 mx-2">
    <input type="password" id="retypePassword" placeholder="Retaper le nouveau mot de passe" class="border border-gray-300 px-4 py-2 rounded-lg mt-2 mx-2">
    <button (click)="resetPassword()" class="bg-blue-500 text-white px-4 py-2 rounded-lg mt-2">Enregistrer</button>
  </div>
  <p [class]="messageType" id="message" class="mt-2">{{ message }}</p>
</div>
  